# Notebook DataScienceEcosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Identify commonly used libraries in Data Science
* Describe popular open source development tools for Data Science
* Demonstrate how to evaluate arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:

1.  Python
2.  R
3.  SQL

### Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. NumPy
3. SciPy

| Data Science Tools |
|--------------------|
| Jupyter Notebooks  |
| RStudio            |
| VS Code            |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [14]:
(3*4)+5

17

##### This a simple arithmetic expression to mutiply then add integers.

In [15]:
200/60

3.3333333333333335

##### Converting 200 Minutes to 3.333 Hours

## Author
Sukruth